.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  gap: 10px;
  grid-template-areas: "header header"
                       "nav nav" 
                       "Q1 Q2"
                       "Q3 Q4"
                       "footer footer";
  grid-template-rows: 250px 150px 300px 300px 150px;
  grid-template-columns: 400px 400px; 
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: dodgerblue;
  grid-area:header;
}

nav {
  background-color: beige;
  grid-area:nav;
}

.Q1 {
  background-color: dodgerblue;
  grid-area:Q1;
}

.Q2 {
  background-color: beige;
  grid-area:Q2;
}

.Q3 {
  background-color: beige;
  grid-area:Q3;
}

.Q4 {
  background-color: beige;
  grid-area:Q4;
}

footer {
  background-color: dodgerblue;
  grid-area:footer;
}
